In [2]:
import json
import pandas as pd

In [3]:
with open(r'/Users/kaisunraj/scores_app/data.json', 'r') as f:
    data = f.readlines()

data = data[0][:-1]
df = pd.read_json(data, lines=True)
df = df.pivot(index='Team',columns='Event',values='Score')

In [4]:
with open(r'/Users/kaisunraj/scores_app/data.json', 'r') as f:
    data = f.readlines()
data = data[0][:-1]
df = pd.read_json(data, lines=True)
df = df.pivot(index='Team',columns='Event',values='Score')
df['Total'] = df.sum(axis=1)
df

Event              Event 1  Total
Team
Hot CrossFit Buns        3      3

In [5]:
data

'{"Event": "Event 1", "Team": "Hot CrossFit Buns", "Score": "3"}'

In [6]:
import recording_scores

df = pd.DataFrame(recording_scores.scores_database)
df['Total'] = df.sum(axis=1)
df.sort_values(by=['Total'], inplace= True, ascending = False)
df.index += 1
df

/var/folders/qk/r8kmw2rx3971_kjtp3n1_5jr0000gn/T/ipykernel_65062/538518667.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Total'] = df.sum(axis=1)

               Team  event 1  event 2  event 3  Total
1        Get a grip       10        8        5     23
2  Chalking rubbish        2       13        8     23
3   Taking the lift        5       11        2     18

In [26]:
with open(r'event_1.json', 'r') as f:
    data = f.readlines()
data = data[0][:-1]
event_1 = pd.read_json(data, lines=True)
event_1['rank'] = event_1['Score'].rank(method='dense', ascending=False)
event_1.index += 1
event_1.drop(columns=['Event'], inplace=True)
event_1.sort_values(by=['rank'], inplace= True, ascending = True)
event_1 = event_1.rename({'rank':'Points'}, axis=1)
event_1 = event_1.set_index('Team')
event_1

      Score  Points
Team
c         7     1.0
b         3     2.0
a         2     3.0

In [38]:
with open(r'event_2.json', 'r') as f:
    data = f.readlines()
data = data[0][:-1]
event_2 = pd.read_json(data, lines=True)
event_2['Points'] = event_2['Score'].rank(method='dense', ascending=False)
event_2.drop(columns=['Event'], inplace=True)
event_2.sort_values(by=['Points'], inplace= True, ascending = True)
event_2 = event_2.set_index('Team')
event_2

      Score  Points
Team
b       190     1.0
c       150     2.0
a       110     3.0

In [89]:
with open('events_list.txt', 'r') as el:
    events_str = str(el.readlines()[0])[:-1]
    event_names = events_str.split(',')
    
def event_df(event):
    json_name = event + '.json'
    with open(json_name, 'r') as f:
        data = f.readlines()
    data = data[0][:-1]
    df = pd.read_json(data, lines=True)
    df['Points'] = df['Score'].rank(method='dense', ascending=False)
    df.drop(columns=['Event'], inplace=True)
    df.sort_values(by=['Points'], inplace= True, ascending = True)
    df = df.set_index('Team')
    return df

event1_df = event_df('event_1')
event2_df = event_df('event_2')
event3_df = event_df('event_3')

In [94]:
df = event_1[['Points']].merge(event_2[['Points']], on='Team').merge(event3_df[['Points']], on='Team')
df['Total Points'] = df.sum(axis=1)
df['Rank'] = df['Total Points'].rank(method='dense', ascending=True)
df.sort_values(by='Rank', ascending=True)
df

      Points_x  Points_y  Points  Total Points  Rank
Team
c          1.0       1.0     1.0           3.0   1.0
b          2.0       3.0     3.0           8.0   3.0
a          3.0       2.0     2.0           7.0   2.0

In [5]:
import pandas_dfs

In [6]:
import pandas as pd
from pandas_dfs import event_dfs

event_1 = event_dfs('event_1')
event_2 = event_dfs('event_2')
event_3 = event_dfs('event_3')
df = event_1[['Points']].merge(event_2[['Points']], on='Team').merge(event_3[['Points']], on='Team')
df['Total Points'] = df.sum(axis=1)
df['Rank'] = df['Total Points'].rank(method='dense', ascending=True)
df.sort_values(by='Rank', ascending=True)
df = df.rename(columns={'Points_x':'Event 1', 'Points_y':'Event 2', 'Points':'Event 1',})
html = df.to_html(classes='table table-striped text-center', justify='center')

In [7]:
df

      Event 1  Event 2  Event 1  Total Points  Rank
Team
c         1.0      2.0      1.0           4.0   1.0
b         2.0      1.0      3.0           6.0   2.0
a         3.0      3.0      2.0           8.0   3.0

In [10]:
with open('events_list.txt', 'r') as el:
    events_str = str(el.readlines()[0])[:-1]
    event_names = events_str.split(',')
for i in event_names:
    print(i.strip)

event 1
event 2
event 3